@model mwg.cms4.core.interfaces.repositories.IFotoboekRepository


<h1>Fotoboek</h1>
<p>Hieronder een selectie van onze mooiste foto's</p>




@foreach (var item in Model.FotoBooks.OrderByDescending(x => x.FotoboekId))
{






    var foto = item.Fotos.FirstOrDefault();

    @if (foto != null)
    {

        <div class="col-xs-4">

            <h2>
                @item.Title
            </h2>



            <div class="mwg-fotoboekfoto">
                <a href="@Url.Action( "detail", new { id = item.FotoboekId })">
          
                    <img src="/common/FotobookImage?PhotoId=@foto.Id&width=240&height=180" width="240" height="180" alt="@foto.Description" class="img-responsive" />
                </a>

            </div>
            @Html.ActionLink("bekijk de foto's...","detail", new { id = item.FotoboekId })
            <p>@item.Description</p>




        </div>

    }

}


@section scripts{







}